body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
a{
  color: inherit;
  text-decoration: none;
}
header{
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo img{
  height: 50px;
  padding-left: 10px;
}
nav{
  display: flex;
  align-items: center;
  padding-right: 20px;
}
nav span{
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}
nav span a:hover{
  background-color: seashell;
  color: black;
  border-radius: 5px;
}

div{
  display: block;
}
.main{
  display: flex;
  width: auto;
  flex-direction: column;
  padding: 0px 30px;
}
/*MISSION SECITION */
#mission{
  height: 700px;
  width: auto;
  padding-top: 70px;
  background-image: url("../images/img-mission-background.jpg");
}
#mission .content{
  background-color: black;
  width: 1200px;
  margin: auto;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*FEATURED TEAS SECTION */
#featured{
  display: block
  width: 1000px;
  padding-top: 40px;
  height: 700px;
}
#featured .content{
  display: block;
}
.menu{
  align-items: flex-start;
}
.item{
  display: inline-block;
  padding: 10px;
}
.item img{
  height: 200px;
  width: 300px;
  border-radius: 5px;

}
span{
  display: block;
}
.item span{
  padding: 10px;
}
/*LOCATION SECTION */
#location{
  height: 500px;
  width: auto;
  background-image: url("../images/img-locations-background.jpg");
  padding-top: 70px;
}
#location .content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.address{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  height: auto;
  opacity: 1;
  background-color: black;
  margin: 15px 20px;
}
.address span{
  padding: 15px 0;
}
h2,
h3,
h4{
  display: block;
}
