body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
a{
  color: inherit;
}
header{
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  width: 100%;
  padding-top: 20px;
}
.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo img{
  height: 50px;
  padding-left: 10px;
}
nav{
  display: flex;
  align-items: center;
  padding-right: 10px;
}
nav span{
  display: inline-block;
  text-decoration: underline;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
nav span a:hover{
  background-color: seashell;
  color: black;
  border-radius: 5px;
}

div{
  display: block;
}
.main{
  display: flex;
  width: auto;
}
#mission{
  height: 700px;
  padding-top: 69px;
  background-image: url("../images/img-mission-background.jpg");
}
#mission .content{
  display: block;
  background-color: black;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
}
h2,
h3,
h4{
  padding: -10px
}
